.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013914;
    color: white;
    transition: 0.5s all ease-in-out;
    position: sticky;
    top: 0;
    z-index: 999;

    &.active {
        background-color: white;
        color: #444;
        border-bottom: 1px solid #e4e5e7;

    }

    .container {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        .logo {
            font-size: 34px;
            font-weight: bold;

            .text {}

            .dot {
                color: #1dbf73;
            }
        }

        .links {
            display: flex;
            gap: 24px;
            align-items: center;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            font-size: 17px;
            color: inherit;

            .fiverr-business {
                color: inherit;
            }

            button {
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .options {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 7px;
                    border: 1px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    width: 200px;
                    font-weight: 300;
                }
            }
        }
    }

    // hr {
    //     width: 100%;
    //     height: 0;
    //     border-top: 0.5px solid #ebe9e9;
    //     border-bottom: 0.5px solid #ebe9e9;
    // }

    hr {
        width: 100%;
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333;
        /* old IE */
        background-color: #ebe9e9;
        /* Modern Browsers */
    }

    .menu {
        width: 1400px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        color: gray;
        font-family: "Montserrat", sans-serif;
    }
}