.slide {
    display: flex;
    justify-content: center;
    padding: 100px 0;

    .container {
        width: 1400px;
        position: relative;
        height: 350px;

    }

    .carousel-initialized {
        position: static;
        height: 350px;
        display: flex;
        align-items: center;
    }

    .carousel-prev,
    .carousel-next {
        width: 50px;
        height: 50px;
        background-color: rgb(249, 249, 249, .9);
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .carousel-prev {
        left: -12px;
    }

    .carousel-next {
        right: -12px;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
        padding-bottom: 10px !important;
    }

}

// https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/arrows.c651879.svg